---
import type { ThumbnailSize } from "@/utils/get";
import CoverArt from "@/pages/partials/cover-art.astro";

interface Props {
  title: string;
  description: string;
  mangaId: string;
  coverArtId?: string;
  coverArtFilename?: string;
  alt: string;
  width: ThumbnailSize;
  height: number;
  loading: "lazy" | "eager";
}

const {
  title,
  description,
  mangaId,
  coverArtId,
  coverArtFilename,
  alt,
  width,
  height,
  loading,
} = Astro.props;
---

<article
  class="relative top-0 left-0 flex items-center justify-center h-auto overflow-hidden shadow-xl rounded-2xl transition"
>
  <CoverArt
    class={{
      picture: ["peer"],
      image: ["h-auto"],
    }}
    mangaId={mangaId}
    coverArtId={coverArtId}
    coverArtFileName={coverArtFilename}
    alt={alt}
    width={width}
    height={height}
    loading={loading}
  />
  <span
    class="absolute rounded-2xl overflox-x-hidden overflow-y-visible left-full h-full max-w-full py-4 pl-6 pr-2 overflow-auto transition-[left] peer-hover:left-0 hover:left-0 bg-[rgba(0,0,0,0.85)]"
    style="transition-duration: 300ms; transition-timing-function: ease-in-out;"
  >
    <h2 class="mb-4 text-xl">{title}</h2>
    <p class="max-w-full text-lg break-words">{description}</p>
  </span>
</article>
