---
import CoverArt from "@/pages/partials/cover-art.astro";
import Actions from "@/components/manga/Actions.astro";
import Tags from "@/components/manga/Tags.astro";
import Status from "@/components/manga/Status.astro";
import Stats from "@/components/manga/Stats.astro";
import AltTitles from "@/components/manga/AltTitles.astro";
import type { Manga } from "@/modules/Manga/domain/Manga";

interface Props {
  manga: Manga;
}

const { manga } = Astro.props;
const subtitle = manga.altTitles?.find((title) => Object.hasOwn(title, "en"))[
  "en"
];
---

<Fragment>
  <section
    aria-label="Manga Information"
    class="grid grid-rows-[auto,1fr] grid-cols-[1fr,2fr] sm:grid-cols-[auto,1fr] md:grid-rows-2 md:gap-x-4 gap-y-2 gap-x-2"
  >
    <figure
      class="row-start-1 row-end-2 md:row-span-full h-fit relative top-0 left-0"
    >
      <CoverArt
        class={{ picture: [""], image: ["rounded", "shadow"] }}
        mangaId={manga.id}
        coverArtFileName={manga.coverArtFileName}
        alt={manga.title}
        width={256}
        height={350}
        loading="eager"
      />
      <figcaption class="absolute bottom-2 right-2">
        {manga.originalLanguage}
      </figcaption>
    </figure>
    <div class="row-start-1 row-span-1 md:row-auto">
      <h1
        class="text-lg font-extrabold mb-0 sm:mb-2 sm:text-4xl md:text-5xl lg:text-6xl"
      >
        {manga.title}
      </h1>
      {subtitle && <h2 class="text-sm">{subtitle}</h2>}
      <h3 class="text-sm mb-0">{manga.author}</h3>
    </div>
    <div
      class="col-span-full grid grid-rows-[repeat(4,auto)] items-center gap-y-2 md:col-span-1 md:gap-y-1"
    >
      <Tags tags={manga.tags} />
      <Status year={manga.year} status={manga.status} />
      <Stats comments={1} saves={1} stars={2} viewed />
      <Actions />
    </div>
  </section>
  <section aria-label="Description">
    <h2>Description</h2>
    <p>{manga.description}</p>
  </section>
  <section aria-label="Relationships">
    Author <h3>{manga.author}</h3>
    Artist <h3>{manga.artist}</h3>
  </section>
  <section aria-label="Alternative Titles">
    <AltTitles titles={manga.altTitles} />
  </section>
</Fragment>
