---
import CoverArt from "@/pages/partials/cover-art.astro";
import type { Manga } from "@/modules/Manga/domain/Manga";
import { getCoverArtId } from "@/utils/get";

interface Props {
  manga: Manga;
}

const { manga } = Astro.props;
const { attributes } = manga;
---

<section class="grid grid-cols-2 gap-4 items-start">
  <div>
    <h1>{attributes.title}</h1>
    <p>{attributes.description}</p>
    <ul>
      {attributes.tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </div>
  <div>
    <CoverArt
      mangaId={manga.id}
      coverArtId={getCoverArtId(manga.relationships)}
      alt={manga.attributes.title}
      width={256}
      height={300}
    />
  </div>
</section>
