---
import type { MangaListOptions } from "@/services/types";

interface Props {
  page?: number;
  get: string;
  params?: MangaListOptions;
}

const { get, params } = Astro.props;

const page = Astro.props.page ?? 1;

const paramsString = Object.entries(params ?? {})
  .map(([key, value]) => `${key}=${value}`)
  .join("&");

const url = `${get}?page=${page}${paramsString ? "&" + paramsString : ""}`;
---

<ul id="manga-list" hx-get={url} hx-trigger="load" hx-swap="innerHTML transition:true scroll:top">
  <span class="htmx-indicator loading"><b>Loading...</b></span>
</ul>

<style>
  #manga-list {
    list-style: none;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 2rem;
  }

  @media screen and (min-width: 768px) {
    #manga-list {
      gap: 2rem 0;
    }
  }
</style>

<style is:global>
  .htmx-indicator.loading {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    transition: all 0.2s ease-in-out;
    animation: Load 1s infinite;
    grid-column: 1 / -1;
  }

  @keyframes Load {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>
