---
import type { MangaListOptions } from "@/services/types";
import Card from "@/components/manga/Card.astro";
import { PATH_TO_PARTIALS } from "@/consts";
import { createFetchMangaRepository } from "@/modules/Manga/infrastructure/FetchMangaRepository";

export const partial = true;

const RESULTS_PER_PAGE = 10;

// Get url params
const page = Number(Astro.url.searchParams.get("page") ?? 1);
const limit = Number(Astro.url.searchParams.get("limit") ?? RESULTS_PER_PAGE);

const options: MangaListOptions = {
  offset: (page - 1) * 10,
  limit,
  includes: {
    coverArt: true,
  },
  contentRating: "safe",
};

const fetchMangaRepository = createFetchMangaRepository();
const mangas = await fetchMangaRepository.getAll(options);

let nextPage = `${PATH_TO_PARTIALS}/manga-list/results?page=${page + 1}`;

// Add options to url
Object.entries(options).forEach(([key, value]) => {
  nextPage += `&${key}=${value}`;
});
---

{
  Array.isArray(mangas) &&
    mangas.map(({ id, attributes, relationships }, index) => (
      <li class="self-center">
        <a href={`/manga/${id}`} title={attributes.title}>
          <Card
            title={attributes.title}
            description={attributes.description}
            mangaId={id}
            coverArtFilename={
              relationships.find((r) => r.type === "cover_art")?.attributes
                ?.fileName
            }
            alt={attributes.title + " cover art"}
            width={256}
            height={350}
            loading={index < RESULTS_PER_PAGE ? "eager" : "lazy"}
          />
        </a>
      </li>
    ))
}
<span
  class="htmx-indicator loading"
  hx-get={nextPage}
  hx-trigger="revealed"
  hx-target=".loading"
  hx-swap="outerHTML transition:true settle:500ms scroll:true show:top"
>
  <b>Loading...</b>
</span>
