---
import { getMangaList } from "@/services/fetchData";
import { getCoverArtFilename } from "@/utils/get";
import { mapMangaData } from "@/utils/map";
import type { MangaListOptions } from "@/services/types";
import Card from "@/components/manga/Card.astro";
import { PATH_TO_PARTIALS } from "@/consts";

export const partial = true;

const RESULTS_PER_PAGE = 10;

// Get url params
const page = Number(Astro.url.searchParams.get("page") ?? 1);
const limit = Number(Astro.url.searchParams.get("limit") ?? RESULTS_PER_PAGE);
const updatedAtSince = Astro.url.searchParams.get("updatedAtSince");

const date = new Date();

const options: MangaListOptions = {
  offset: (page - 1) * 10,
  limit,
  coverArt: true,
  contentRating: "safe",
  updatedAtSince: updatedAtSince
    ? new Date(updatedAtSince)
    : new Date(
        `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate() - date.getDay() - 1}`,
      ),
};

const res = await getMangaList(options);

const { data } = res;
const mangas = mapMangaData(data);

let nextPage = `${PATH_TO_PARTIALS}/manga-list/results?page=${page + 1}`;

// Add options to url
Object.entries(options).forEach(([key, value]) => {
  nextPage += `&${key}=${value}`;
});
---

{
  Array.isArray(mangas) &&
    mangas.map((manga, index) => (
      <li class="self-center">
        <a href={`/manga/${manga.id}`} title={manga.title}>
          <Card
            title={manga.title}
            description={manga.description}
            mangaId={manga.id}
            coverArtFilename={getCoverArtFilename(manga)}
            alt={manga.title + " cover art"}
            width={256}
            loading={index < RESULTS_PER_PAGE ? "eager" : "lazy"}
          />
        </a>
      </li>
    ))
}
<span
  class="htmx-indicator loading"
  hx-get={nextPage}
  hx-trigger="revealed"
  hx-target=".loading"
  hx-swap="outerHTML transition:true settle:500ms scroll:true show:top"
>
  <b>Loading...</b>
</span>
